.site-heading {
    text-shadow: 2px 2px 5px #000000;
}

.label {
	display: inline-block;
}

blockquote p {
    margin: 0;
}

blockquote footer {
    padding: 10px 0 0 0;
}

.commentaires ul {
    list-style-type: none;
}